<h5 ><a href="{% url 'show' %}">X</a></h5>
<center>
    <form action="{% url 'update' pk=updatedata.pk %}" method="post">
        {% csrf_token %}
        <div class="header">
            <h2 style="color: #4267B2;">Update Wishlist</h2>
        </div>
        <div class="input-container">
            <input type="text" id="wishlist-input" placeholder="Enter item wishlist" name="updatewish"
                value="{{ updatedata.wishlist }}">
            <button id="add-btn" style="background-color: #4267B2;">Update</button>
        </div>
    </form>
</center>
{% endif %}